/* Minimal global styles - most styling handled by design system */

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em rgba(138, 79, 255, 0.6));
}
